//Add your own editor styles here or comment out the next line if you want to pull in the whole Bootstrap stuff
.interface-interface-skeleton__content {
	@import "theme";
	.editor-styles-wrapper {
		padding: 0;
		font-family: $font-family-base;
		font-size: $font-size-base;
	}
	.editor-post-title__block {
		font-family: $headings-font-family;
		.editor-post-title__input {
		font-size: $h1-font-size;
		border: none !important;
		}
	}
	.components-resizable-box__container {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	}
	.wp-block {
		background-color: $gray-100;
		border: 1px dotted $gray-300;
		max-width: 1100px !important;
		padding: 1rem;
		&[data-align=wide] {
			max-width: none !important;
		}
		&[data-align=full] {
			max-width: none !important;
		}
	}
	.card {
		padding: unset;
		margin-top: 0;
		.card-title {
			margin-top: 0;
		}
	}
	.acf-block-body .acf-block-fields {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.acf-repeater.-empty.-table {
			table {
			display: none !important;
		}
	}
	.acf-field .acf-label {
		margin-bottom: 5px;
		label {
			font-size: 13px;
		}
	}
	.acf-block-body .acf-fields>.acf-field {
		padding: 5px !important;
		min-height: unset;
	}
	.acf-block-body .acf-fields>.acf-field.race {
		width: auto;
		//display: inline-block;
		.acf-input>.acf-fields.-border {
			border: 0;
		}
	}
	.acf-block-body .acf-fields>.acf-field.bg-head {
		background-color: $gray-300;
	}
	.acf-block-body .acf-fields>.acf-field[data-name="land"] {
		padding: 0 !important;
		width: auto;
		min-width: 150px;
		.acf-label {
			display: none;
		}
	}
	.acf-block-body .acf-fields>.acf-field[data-name="driver_country_land"] {
		width: 33%;
		background-color: $gray-300;
		display: inline-block;
		min-height: 70px;
	}

	.acf-block-body .acf-clone-fields.acf-fields.-top.-border {
		border: none;
	}

	.acf-table {
		th.acf-th[data-name="driver"] {
			min-width: 200px;
		}
		th.acf-th[data-name="driver_country_land"] {
			min-width: 150px;
		}
		th.acf-th[data-name="position"],
		td.acf-field[data-name="position"] {
			display: none;
		}
	}
	.acf-field.acf-field-clone.race {
		max-width: 150px !important;
		display: inline-block;
	}

	.acf-field {
		.pos {
			display: none;
		}
		.driver,
		.team,
		.driver_country,
		.race,
		.ss,
		.r-w {
			//width: 33% !important;
		}
	}
}
