// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	margin-top: $nav-height;
	&.wp-admin {
		margin-top: 0;
	}
}

.admin-bar {
	.fixed-top {
	top: 32px !important;
	@media screen and (max-width: 782px) {
			top: 46px !important;
		}
	}
}
/* Featured image header */

.featured-image-in-header {
	overflow: hidden;
	max-height: 50vh;
	display: flex;
	position: relative;
	background-color: #0065a1;
}

.featured-image-in-header img {
	width: 100%;
	align-self: center;
	opacity: 0.7;
}

.featured-image-in-header-inner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wp-block-cover__inner-container {
	max-width: fit-content !important;
}
.wp-block-cover__inner-container h1,
.featured-page-title {
	//display: inline-flex;
	width: auto;
	background-color: #0065a1;
	padding: 0.5em;
	//line-height: 2;
	color: #ffffff;
	text-align: center;
}


.entry-header {
	padding-top: 2rem;
	padding-bottom: 1rem;
	.entry-title {
	}
}

.entry-content .alignwide {
	margin-left: -80px;
	margin-right: -80px;
		@media screen and (max-width: 782px) {
			margin-left: auto;
			margin-right: auto;
		}

}
.entry-content .alignfull {
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width: 100vw;
}
.alignfull img {
	width: 100vw;
}

:focus {
	outline: none;
}
.custom-logo-link img {
	height: $custom-logo-height;
	width: auto;
	max-width: 240px;
	padding: $spacer *0.25;
	@include media-breakpoint-down(sm) {
		max-width: 170px;
	 }
}

.wp-block-cover, .wp-block-cover-image {
	min-width:100%;
	width: auto;
	.wp-block-cover__inner-container {
		text-align: center;
		@extend .container;
	}
}
.is-style-content-width,
.is-style-section{
	padding: 3rem 0;
	.wp-block-group__inner-container {
	@extend .container;
	}
}

.is-style-hero-header {
	.wp-block-cover__inner-container {
	background-color: $primary;
	width: auto;
	display: inline-block;
	padding: 3rem 0;
	}
}

/* Services */
.service-card {
	.service-icon {
		font-size: 6rem;
		color: $primary;
	}
	.service-title {
		//font-size: $h5-font-size;
		color: $headings-color;
	}
	a.service-link,
	.service-icon{
		:hover {
			text-decoration: none !important;
			color: $link-hover-color !important;
		}
	}
	:hover {
		color: $link-hover-color !important;
		text-decoration: none !important;
	}
}
/* wp latest block */
ul.wp-block-latest-posts {
	li {
	text-align: center;
		a {
			font-family: $headings-font-family;
			font-size: $h5-font-size;
		}
	}
}

/* Block posts */

.custom-block {
	padding-top: $spacer * 3;
	padding-bottom: $spacer * 3;
&.posts,
&.casestories,
&.related-posts {
	.card {
		background-color: transparent;
		border: none;
	}
}
}

/* Footer */

.footer-widget {
	color: inherit;
	text-align: center;
	.widget-title {
		color: inherit;
		text-align: center;
	}
	a {
		color: $gray-300;
	}
}

ul#menu-footer-menu {
	list-style: none;
	padding-left: 0;
	.menu-item {
		display: inline-flex;
		padding: $spacer;
	}
}


/* Single Posts */
.single-post, .single-cases {
	article {
		box-shadow: $box-shadow-lg;
		@media (max-width: 768px) {
			box-shadow: $box-shadow-sm;
		 }
		header {
			&.entry-header {
			padding-top: 0;
			}
			#time,
			.entry-title,
			.entry-meta {
				padding: 0 $spacer*3;
				@media (max-width: 768px) {
					padding: 0 $spacer*1;
				 }
			}
		}
		.entry-content {
			padding: 0 $spacer*3;
			@media (max-width: 768px) {
				padding: 0 $spacer*1;
			 }
		}
		footer.entry-footer {
			padding: $spacer*3;
			@media (max-width: 768px) {
				padding: $spacer*1;
			 }
		}
	}
}

.post-navigation {
	padding: $spacer*3 $spacer*1;
	font-family: $headings-font-family;
	font-size: $font-size-base;
	@include media-breakpoint-up(sm) {
		.nav-previous,
		.nav-next {
			max-width: 45%;
		}
	}
}


/*navbar */
.navbar-toggler {
	border: none;
	&:focus,
	&:hover {
		color: $primary;
		outline: none;
	}
}
.navbar {
	.container {
		padding: 0;
	}
}

.navbar-nav {
	li.menu-item {
		margin-left  : calc( -100vw / 2 + 100% / 2 );
		margin-right : calc( -100vw / 2 + 100% / 2 );
		max-width    : 100vw;
		padding: none;
		text-align: center;
		a.nav-link {
			padding: 1rem;
			font-size: $h4-font-size;
			font-family: $headings-font-family;
			@include media-breakpoint-down(sm) {
				font-size: $font-size-base;
			 }
			&:hover {
				background-color: #E5EFF5;
				color: $black;
			}
		}
		.dropdown-menu {
			border: none;
			padding: 0;
			margin: 0;
			li.menu-item {
				a.dropdown-item {
					padding: 1rem;
					font-size: $h5-font-size;
					font-family: $headings-font-family;
					@include media-breakpoint-down(sm) {
						font-size: $font-size-base;
					 }
					&:hover {
						background-color: #E5EFF5;
					}
				}
			}
		}

	}
}
