// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	&.wp-admin {
	}
}

.admin-bar {
	.mm-ocd {
	top: 32px !important;
	@media screen and (max-width: 782px) {
			top: 46px !important;
		}
	}
}


/* mmenu fix */
.mm-spn ul.mm-spn--parent {
	left: -100%;
}


//navbar fix //
.navbar-toggler {
	border: none;
	&:focus {
		outline: none;
	}
}
.navbar-dark .navbar-toggler,
.navbar-dark .navbar-toggler a {
	color: $light;
	&:hover {
		color: $gray-300;
	}
}

.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler a {
	color: $gray-700;
	&:hover {
		color: $gray-900;
	}
}

.svg-inline--fa {
	color: inherit;
}
